name: Live Stream Bot

on:
  workflow_dispatch: # تشغيل يدوي

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg xvfb
          pip install selenium pyvirtualdisplay requests

      - name: Run Stream
        env:
          RTMP_KEY: ${{ secrets.RTMP_KEY }}
        run: python stream.py
