name: Perpetual Stream
on:
  workflow_dispatch: # التشغيل يدوي فقط للتحكم الكامل ومنع التراكم

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: System Setup
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y -qq xvfb ffmpeg pulseaudio google-chrome-stable fonts-kacst > /dev/null
          # تشغيل محرك الصوت
          pulseaudio -D --exit-idle-time=-1 --disallow-exit || true
          
      - name: Python Setup
        run: pip install selenium pyvirtualdisplay

      - name: Start Vertical Stream
        env:
          RTMP_KEY: ${{ secrets.RTMP_KEY }}
        run: python main.py
